*.7z
*.dmg
*.gem
*.gz
*.iso
*.jar
*.log
*.pid
*.rar
*.rbc
*.sassc
*.sql
*.sqlite
*.swp
*.tar
*.zip
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.bundle
.config
.rspec
.sass-cache
.yardoc
Icon?
InstalledFiles
Thumbs.db
_yardoc
capybara-*.html
config/database.yml
coverage
db/*.sqlite3*
doc/
doc/*.dot
doc/api
doc/app
doc/plugins
ehthumbs.db
lib/bundler/man
log/*.log
pkg
rdoc
rerun.txt
spec/reports
test/tmp
test/version_tmp
tmp
tmp/*
tmp/**/*